h1 {
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
}

.card img {
  max-width: 200px;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}
