.container {
  background: gray;
}

.heading {
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
}

.card a {
  text-decoration: none;
  color: white;
}

.card {
  background: black;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

.card img {
  max-width: 200px;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.img {
  display: block;
}
